<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공급자 등록</title>
</head>
<body>
<h2>공급자 등록</h2>
<form th:action="@{/suppliers/register}" method="post">
    <label>회사명: <input type="text" name="companyName" /></label><br/>
    <label>담당자: <input type="text" name="contactPerson" /></label><br/>
    <label>이메일: <input type="email" name="email" /></label><br/>
    <label>전화번호: <input type="text" name="phoneNumber" /></label><br/>
    <label>주소: <input type="text" name="address" /></label><br/>
    <button type="submit">등록</button>
</form>

</form>
</body>
</html>
