<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"> <!-- static 폴더 내의 login.css를 자동으로 처리 -->
</head>
<body>
<div class="login-container">
    <h3>다층필름 공정&출하 관리</h3>
    <div th:if="${session.alertMessage != null}">
        <h5 style="margin-top:5px; margin-bottom:5px; color:red;" th:text="${session.alertMessage}"></h5>
    </div>


    <form id="loginForm" action="/login" method="post">
        <div class="input-container">
            <label for="userId">ID를 입력하세요.</label>
            <input type="text" id="userId" name="userId" required />
        </div>
        <div class="input-container">
            <label for="password">비밀번호를 입력하세요.</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div class="signup-link">
            <p>ID가 없으신가요?<a href="/register">회원가입</a></p>
        </div>
        <button id="btnLogin" type="submit">로그인</button>
    </form>
</div>
<script src="/js/login.js"></script>
</body>
<script>
    window.onload=function(){
        const urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has('success') && urlParams.get('success') === 'true'){
            alert("회원가입이 완료되었습니다.");
        }
    }
</script>
</html>
